@charset "UTF-8";
/************************************************

Stylesheet: Main Stylesheet

*************************************************/
/*********************
GENERAL STYLES
*********************/

a#lhn_help_btn {
    display: none;
}

body {
    color: #474747;
    font-size: 16px;
    font-family: 'Source Sans Pro',sans-serif !important;
    line-height: 1.3em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat',sans-serif !important;
  font-weight: bold;
}

nav.desktop-menu {
    width: 100%;
    background: transparent linear-gradient(to right, rgba(28, 73, 115, 0.87), rgba(29, 120, 145, 0.87)) repeat scroll 0 0;
    max-width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
  .top-bar{
    background: none;
    width: 100%;
    z-index: 999;
    margin: 0 auto;
    max-width: 1400px;
    text-align: center;
    display: block;
    position: relative;
}

nav img{
    margin: 0 auto;
    width: 400px;
    max-width: 65%;
}

.menu>li {
    display: block;
}
.menu.vertical>li {
    display: inline-block;
}

#mobile-nav.visible {
    bottom: -15px !important;
    transition: all ease .50s;
    z-index: 5;
}

#mobile-nav.hidden2 {
    bottom: -100px !important;
    transition: all ease .50s;
    top: inherit;
}

#mobile-nav {
    background: transparent linear-gradient(to right, rgba(28, 73, 115, 0.95), rgba(29, 120, 145, 0.95)) repeat scroll 0 0;
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0.15);
    font-family: "Montserrat",sans-serif;
    left: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 70px;
    bottom: 0;
    z-index: -1;
}

#mobile-nav .medium-4, #mobile-nav .small-2 {
    box-sizing: border-box;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
    font-size: 32px;
    font-family: 'Montserrat';
    font-weight: 700;
    float: left;
}

#mobile-nav .small-8.number {
    color: #c2ec7c;
    font-size: 25px;
    padding-top: 10px;
    font-family: 'Montserrat';
    border-right: 2px solid #4e9db8;
    border-left: 2px solid #4e9db8;
    line-height: 100%;
    display: inline-block;
}

i.fa.fa-mobile.mobile-hide {
    font-size: 32px;
    color: white;
    padding-right: 10px;
    padding-top: 0px;
    display: inline-block;
}

 #mobile-nav .lhn_btn_chat, #mobile-nav .lhn_btn_email  {
    color: #c2ec7c !important;
    font-size: 25px;
    display: inline-block;
    font-family: "Source Sans Pro", Montserrat, sans-serif;
    font-weight: bold;
    }

    .phone-number-fixed a {
    color: #c2ec7c;
}

@media only screen and (max-device-width: 600px) {

    #mobile-nav .lhn_btn_chat, #mobile-nav .lhn_btn_email  {
    overflow: hidden;
    height: 28px;
    width: 28px;
    }

    #mobile-nav .small-8.number{
      padding-top: 15px;
    }

  }

  #mobile-nav .row {
    padding: inherit !important;
    }

    .fa-envelope:before, .fa-comments-o:before {
        padding-right: 10px;
        color: white;
        font-family: fontawesome;
    }

    #mobile-nav .fa {
    color: white;
    }
  
@media (max-width: 47.9em) {
.mobile-hide {
    display: none !important;
}
.menu.vertical>li {
    display: block;
}
.entry-content .alignright, .entry-content img.alignright, .entry-content .alignleft, .entry-content img.alignleft {
  width:100%;
}
}

@media (min-width: 48em){
.mobile-hide {
    display: inline-block !important;
}
.menu.vertical>li {
    display: inline-block;
}
}

@media (max-width: 1050px) {
  .top-bar-left.float-left {
    float: none !important;
}
.top-bar-right {
    float: none !important;
    display: block;
    margin: 0 auto;
}
.top-bar ul {
    background: none;
    margin: 0 auto;
}
.menu.medium-horizontal>li {
    display: inline-block;
}
}

/*********************
LINK STYLES
*********************/
a:link, a:visited:link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3); }

  .menu>li>a {
    font-family: 'Montserrat',sans-serif;
      font-weight: bold;
}

/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
  text-decoration: none; }

/*********************
HEADER STYLES
*********************/
.header ul.off-canvas-list li {
  list-style: none; }

/*********************
NAVIGATION STYLES
*********************/
.top-bar .title-area {
  z-index: 1; }

.off-canvas-list ul {
  margin-left: 0; }
  .off-canvas-list ul li a {
    border-bottom: 0px; }
  .off-canvas-list ul .dropdown {
    margin-left: 20px; }

/*********************
POSTS & CONTENT STYLES
*********************/

.page #inner-content {
    padding-top: 2em;
}

.page .row {
    padding-top: 1em;
}

.page-title .vcard {
  border: 0px;
  padding: 0px; }

.byline {
  color: #999; }

.entry-content img {
  max-width: 100%;
  height: auto; }

.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left; }

.entry-content .alignright, .entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right; }

.entry-content .aligncenter, .entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both; }

.entry-content video, .entry-content object {
  max-width: 100%;
  height: auto; }

.entry-content pre {
  background: #eee;
  border: 1px solid #cecece;
  padding: 10px; }

.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px; }
  .wp-caption img {
    max-width: 100%;
    margin-bottom: 0;
    width: 100%; }
  .wp-caption p.wp-caption-text {
    font-size: 0.85em;
    margin: 4px 0 7px;
    text-align: center; }

.post-password-form input[type="submit"] {
  display: inline-block;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  transition: all 0.25s ease-out;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 0;
  padding: 0.85em 1em;
  margin: 0 1rem 1rem 0;
  font-size: 0.9rem;
  background: #2199e8;
  color: #fff; }
  [data-whatinput='mouse'] .post-password-form input[type="submit"] {
    outline: 0; }
  .post-password-form input[type="submit"]:hover, .post-password-form input[type="submit"]:focus {
    background: #1583cc;
    color: #fff; }

/*********************
IMAGE GALLERY STYLES
*********************/
/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
  margin-top: 1rem; }

/*********************
COMMENT STYLES
*********************/
#comments .commentlist {
  margin-left: 0px; }

#respond ul {
  margin-left: 0px; }

.commentlist li {
  position: relative;
  clear: both;
  overflow: hidden;
  list-style-type: none;
  margin-bottom: 1.5em;
  padding: 0.7335em 10px; }
  .commentlist li:last-child {
    margin-bottom: 0; }
  .commentlist li ul.children {
    margin: 0; }

.commentlist li[class*=depth-] {
  margin-top: 1.1em; }

.commentlist li.depth-1 {
  margin-left: 0;
  margin-top: 0; }

.commentlist li:not(.depth-1) {
  margin-left: 10px;
  margin-top: 0;
  padding-bottom: 0; }

.commentlist .vcard {
  margin-left: 50px; }
  .commentlist .vcard cite.fn {
    font-weight: 700;
    font-style: normal; }
  .commentlist .vcard time {
    float: right; }
    .commentlist .vcard time a {
      color: #999;
      text-decoration: none; }
      .commentlist .vcard time a:hover {
        text-decoration: underline; }
  .commentlist .vcard img.avatar {
    position: absolute;
    left: 10px;
    padding: 2px;
    border: 1px solid #cecece;
    background: #fff; }

.commentlist .comment_content p {
  margin: 0.7335em 0 1.5em;
  font-size: 1em;
  line-height: 1.5em; }

.commentlist .comment-reply-link {
  float: right; }

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
  margin: 1.5em 10px;
  padding-bottom: 2.2em; }
  .respond-form form {
    margin: 0.75em 0; }
    .respond-form form li {
      list-style-type: none;
      clear: both;
      margin-bottom: 0.7335em; }
      .respond-form form li label,
      .respond-form form li small {
        display: none; }
    .respond-form form input[type=text],
    .respond-form form input[type=email],
    .respond-form form input[type=url],
    .respond-form form textarea {
      padding: 3px 6px;
      background: #efefef;
      border: 2px solid #cecece;
      line-height: 1.5em; }
      .respond-form form input[type=text]:focus,
      .respond-form form input[type=email]:focus,
      .respond-form form input[type=url]:focus,
      .respond-form form textarea:focus {
        background: #fff; }
      .respond-form form input[type=text]:invalid,
      .respond-form form input[type=email]:invalid,
      .respond-form form input[type=url]:invalid,
      .respond-form form textarea:invalid {
        outline: none;
        border-color: #fbc2c4;
        background-color: #f6e7eb;
        -ms-box-shadow: none;
        box-shadow: none; }
    .respond-form form input[type=text],
    .respond-form form input[type=email],
    .respond-form form input[type=url] {
      max-width: 400px;
      min-width: 250px; }
    .respond-form form textarea {
      resize: none;
      width: 97.3%;
      height: 150px; }

#comment-form-title {
  margin: 0 0 1.1em; }

#allowed_tags {
  margin: 1.5em 10px 0.7335em 0; }

.nocomments {
  margin: 0 20px 1.1em; }

/*********************
SIDEBARS & ASIDES
*********************/
.widget ul {
  margin: 0; }
  .widget ul li {
    list-style: none; }

/*********************
FOOTER STYLES
*********************/
.footer {
  clear: both;
  margin-top: 1em; }

  footer img {
    padding: 1em;
}

/*********************
FOUNDATION STYLES
*********************/

/*********************
PLUGIN STYLES
*********************/
.gform_body ul {
  list-style: none outside none;
  margin: 0; }

/******************************************************************

Stylesheet: Retina Screens & Devices Stylesheet

When handling retina screens you need to make adjustments, especially
if you're not using font icons. Here you can add them in one neat
place.

******************************************************************/
/******************************************************************

Stylesheet: Print Stylesheet

This is the print stylesheet. There's probably not a lot
of reasons to edit this stylesheet. 

Remember to add things that won't make sense to print at 
the bottom. Things like nav, ads, and forms shouldbe set 
to display none.
******************************************************************/
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    -webkit-filter: none !important;
    filter: none !important;
    -ms-filter: none !important; }
  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }
    a:after, a:visited:after {
      content: " (" attr(href) ")"; }
    a abbr[title]:after, a:visited abbr[title]:after {
      content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; }
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none; } }

/*********************
Ben's Custom Styles
*********************/

.tp-caption.Sports-DisplayFat, .Sports-DisplayFat {
    font-family: 'Montserrat', sans-serif;
}

  .top-bar ul {
    background: none;
}
ul.menu.submenu.is-dropdown-submenu.first-sub.vertical.js-dropdown-active {
    background: rgb(29, 120, 145);
}
.menu .active>a {
    color: rgb(28, 73, 115);
    background: #FFF;
}

.top-bar a {
    color: #FFF;
}
.dropdown.menu.medium-horizontal>li.is-dropdown-submenu-parent>a:after{
  border-color: #FFF transparent transparent;
}
div#content {
    padding-top: 75px;
}

.home div#content {
    padding-top: 0px;
}

.top-bar-right {
    padding-top: 8px;
}
.home .page-title {
    display: none;
}
.tp-bgimg.defaultimg {
    background-image: linear-gradient(-30deg, rgba(33, 54, 74, 0.6) 50%, rgba(255, 255, 255, 0) 83%), url(http://www.rehabandtreatment.com/wp-content/uploads/Foundations-Recovery-Network.jpg) !important;
}
.forcefullwidth_wrapper_tp_banner {
    margin-top: -65px !important;
}
.home #content, .home #inner-content {
  max-width: 100%;
}
.home .row{
  padding:3em 0em 0em  !important;
  margin:0 auto;
  max-width: 1300px;
}
.home iframe {
    display: block;
    margin: 0 auto;
}
.home .large-6 p, .home .large-6 h2 {
    max-width: 750px;
    text-align: left;
    margin: 0 auto;
}
.greybg {
    background-color: #edeeee;
    color: #474747;
}

.home section.greybg {
    padding-bottom: 3em;
}

.bluebg, .bluebg a {
  background-color: #2a4962;
  color: white;
}

.bluebg a:hover {
  color: #99c450;
}

.home main {
    padding: 0;
}

.home .small-12 h2 {
    line-height: 1.2;
    padding-bottom: 1em;
}
.home h3 {
    text-align: center;
}

.home .small-12 h2, .home.small-12 p{
  text-align: center;
  max-width: 1300px;
  margin: 0 auto;
}

.home p {
    font-size: 18px;
    text-align: center;
}

.home footer p{
font-size: 13px !important;
}

.small-12.medium-4.columns {
    padding: 2em 1em;
}

.video-container {
    position: relative;
    padding-bottom: 50%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#circleh3 {
    color: white;
    text-align: center;
    margin-top: 108.5px;
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    margin: 0 auto;
    top: 95px;
    left: 50%;
    margin-left: -15%;
}

.circles-wrap {
    overflow: hidden;
    position: relative;
    width: 300px;
    height: 230px;
    display: block;
    margin: 0 auto;
}

.mental-circle {
    background-color: rgba(97, 128, 155, 0.6);
    border: 25px solid rgba(97, 128, 155, 0.65);
    height: 180px;
    width: 180px;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    right: 10px;
    transition: all 1s ease-in-out;
}
.addiction-circle {
    background-color: rgba(173, 196, 202, 0.6);
    border: 25px solid rgba(173, 196, 202, 0.65);
    height: 180px;
    width: 180px;
    border-radius: 50%;
    position: absolute;
    transition: all 1s ease-in-out;
    top: 25px;
}

.mental-circle p, .addiction-circle p {
    font-size: 13px;
    margin-left: -2em;
    font-weight: bold;
    margin-top: 3.5em;
    color: #235666;
    padding: 0em 0.7em;
    line-height: 18px;
}

.mental-circle p {
    float: right;
    margin-left: 0;
    margin-right: -2em;
}


.accordion-title {
    font-size: 1.75rem !important;
    color: #2a4962;
}

footer {
    text-align: center;
    font-style: italic;
    padding: 2em 2em 6em 2em;
    background-color: #d0d1d1;
    line-height: 19px;
    font-size: 13px !important;
    border-top-style: solid;
    border-width: thick;
    border-top-color: white;
}

footer.article-footer {
    display: none;
}
