img,
legend {
    border: 0
}

#circleh3,
.is-center {
    text-align: center
}

.csslider>.navigation,
.no-select,
h2 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

.csslider>.arrows,
.csslider>.navigation,
.no-select,
h2 {
    -webkit-touch-callout: none;
    -khtml-user-select: none
}

#center a,
#modal .copy a,
#modal2 .copy a,
.gallery .control-button,
.gallery .secondary-controls a,
.scrollToTop,
.scrollToTop:hover,
a {
    text-decoration: none
}

a#lhn_help_btn {
    display: none
}

.opera-only:-o-prefocus,
.pure-g {
    word-spacing: -.43em
}

.pure-menu {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.pure-menu-fixed {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3
}

.circles-wrap,
.pure-menu-item,
.pure-menu-list,
sub,
sup {
    position: relative
}

.pure-menu-list {
    list-style: none;
    margin: 0;
    padding: 0
}

.pure-menu-item {
    padding: 0;
    margin: 0;
    height: 100%
}

.pure-menu-heading,
.pure-menu-link {
    display: block;
    text-decoration: none;
    white-space: nowrap
}

.pure-menu-horizontal {
    width: 100%;
    white-space: nowrap
}

.pure-menu-horizontal .pure-menu-list {
    display: inline-block
}

.pure-menu-horizontal .pure-menu-heading,
.pure-menu-horizontal .pure-menu-item,
.pure-menu-horizontal .pure-menu-separator {
    display: inline-block;
    zoom: 1;
    vertical-align: middle
}

.pure-menu-heading {
    text-transform: uppercase;
    color: #565d64
}

.pure-menu-link {
    color: #777
}

.pure-menu-disabled,
.pure-menu-heading,
.pure-menu-link {
    padding: .5em 1em
}

legend,
td,
th {
    padding: 0
}

.pure-menu-active>.pure-menu-link,
.pure-menu-link:focus,
.pure-menu-link:hover {
    background-color: #eee
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
optgroup,
strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

pre,
textarea {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

*,
.csslider>ul {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.hidden,
[hidden] {
    display: none!important
}

.pure-img {
    max-width: 100%;
    height: auto;
    display: block
}

.pure-g {
    letter-spacing: -.31em;
    text-rendering: optimizespeed;
    font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
    -webkit-flex-flow: row wrap;
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
    -ms-align-content: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start
}

.opera-only :-o-prefocus,
.pure-g {
    word-spacing: -.43em
}

.pure-u,
.pure-u-1,
.pure-u-1-1,
.pure-u-1-12,
.pure-u-1-2,
.pure-u-1-24,
.pure-u-1-3,
.pure-u-1-4,
.pure-u-1-5,
.pure-u-1-6,
.pure-u-1-8,
.pure-u-10-24,
.pure-u-11-12,
.pure-u-11-24,
.pure-u-12-24,
.pure-u-13-24,
.pure-u-14-24,
.pure-u-15-24,
.pure-u-16-24,
.pure-u-17-24,
.pure-u-18-24,
.pure-u-19-24,
.pure-u-2-24,
.pure-u-2-3,
.pure-u-2-5,
.pure-u-20-24,
.pure-u-21-24,
.pure-u-22-24,
.pure-u-23-24,
.pure-u-24-24,
.pure-u-3-24,
.pure-u-3-4,
.pure-u-3-5,
.pure-u-3-8,
.pure-u-4-24,
.pure-u-4-5,
.pure-u-5-12,
.pure-u-5-24,
.pure-u-5-5,
.pure-u-5-6,
.pure-u-5-8,
.pure-u-6-24,
.pure-u-7-12,
.pure-u-7-24,
.pure-u-7-8,
.pure-u-8-24,
.pure-u-9-24 {
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
    vertical-align: top
}

.pure-u-1-24 {
    width: 4.1667%
}

.pure-u-1-12,
.pure-u-2-24 {
    width: 8.3333%
}

.pure-u-1-8,
.pure-u-3-24 {
    width: 12.5%
}

.pure-u-1-6,
.pure-u-4-24 {
    width: 16.6667%
}

.pure-u-1-5 {
    width: 20%
}

.pure-u-5-24 {
    width: 20.8333%
}

.pure-u-1-4,
.pure-u-6-24 {
    width: 25%
}

.pure-u-7-24 {
    width: 29.1667%
}

.pure-u-1-3,
.pure-u-8-24 {
    width: 33.3333%
}

.pure-u-3-8,
.pure-u-9-24 {
    width: 37.5%
}

.pure-u-2-5 {
    width: 40%
}

.pure-u-10-24,
.pure-u-5-12 {
    width: 41.6667%
}

.pure-u-11-24 {
    width: 45.8333%
}

.pure-u-1-2,
.pure-u-12-24 {
    width: 50%
}

.pure-u-13-24 {
    width: 54.1667%
}

.pure-u-14-24,
.pure-u-7-12 {
    width: 58.3333%
}

.pure-u-3-5 {
    width: 60%
}

.pure-u-15-24,
.pure-u-5-8 {
    width: 62.5%
}

.pure-u-16-24,
.pure-u-2-3 {
    width: 66.6667%
}

.pure-u-17-24 {
    width: 70.8333%
}

.pure-u-18-24,
.pure-u-3-4 {
    width: 75%
}

.pure-u-19-24 {
    width: 79.1667%
}

.pure-u-4-5 {
    width: 80%
}

.pure-u-20-24,
.pure-u-5-6 {
    width: 83.3333%
}

.pure-u-21-24,
.pure-u-7-8 {
    width: 87.5%
}

.pure-u-11-12,
.pure-u-22-24 {
    width: 91.6667%
}

.pure-u-23-24 {
    width: 95.8333%
}

.pure-u-1,
.pure-u-1-1,
.pure-u-24-24,
.pure-u-5-5 {
    width: 100%
}

@media screen and (min-width:35.5em) {
    .pure-u-sm-1,
    .pure-u-sm-1-1,
    .pure-u-sm-1-12,
    .pure-u-sm-1-2,
    .pure-u-sm-1-24,
    .pure-u-sm-1-3,
    .pure-u-sm-1-4,
    .pure-u-sm-1-5,
    .pure-u-sm-1-6,
    .pure-u-sm-1-8,
    .pure-u-sm-10-24,
    .pure-u-sm-11-12,
    .pure-u-sm-11-24,
    .pure-u-sm-12-24,
    .pure-u-sm-13-24,
    .pure-u-sm-14-24,
    .pure-u-sm-15-24,
    .pure-u-sm-16-24,
    .pure-u-sm-17-24,
    .pure-u-sm-18-24,
    .pure-u-sm-19-24,
    .pure-u-sm-2-24,
    .pure-u-sm-2-3,
    .pure-u-sm-2-5,
    .pure-u-sm-20-24,
    .pure-u-sm-21-24,
    .pure-u-sm-22-24,
    .pure-u-sm-23-24,
    .pure-u-sm-24-24,
    .pure-u-sm-3-24,
    .pure-u-sm-3-4,
    .pure-u-sm-3-5,
    .pure-u-sm-3-8,
    .pure-u-sm-4-24,
    .pure-u-sm-4-5,
    .pure-u-sm-5-12,
    .pure-u-sm-5-24,
    .pure-u-sm-5-5,
    .pure-u-sm-5-6,
    .pure-u-sm-5-8,
    .pure-u-sm-6-24,
    .pure-u-sm-7-12,
    .pure-u-sm-7-24,
    .pure-u-sm-7-8,
    .pure-u-sm-8-24,
    .pure-u-sm-9-24 {
        display: inline-block;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto
    }
    .pure-u-sm-1-24 {
        width: 4.1667%
    }
    .pure-u-sm-1-12,
    .pure-u-sm-2-24 {
        width: 8.3333%
    }
    .pure-u-sm-1-8,
    .pure-u-sm-3-24 {
        width: 12.5%
    }
    .pure-u-sm-1-6,
    .pure-u-sm-4-24 {
        width: 16.6667%
    }
    .pure-u-sm-1-5 {
        width: 20%
    }
    .pure-u-sm-5-24 {
        width: 20.8333%
    }
    .pure-u-sm-1-4,
    .pure-u-sm-6-24 {
        width: 25%
    }
    .pure-u-sm-7-24 {
        width: 29.1667%
    }
    .pure-u-sm-1-3,
    .pure-u-sm-8-24 {
        width: 33.3333%
    }
    .pure-u-sm-3-8,
    .pure-u-sm-9-24 {
        width: 37.5%
    }
    .pure-u-sm-2-5 {
        width: 40%
    }
    .pure-u-sm-10-24,
    .pure-u-sm-5-12 {
        width: 41.6667%
    }
    .pure-u-sm-11-24 {
        width: 45.8333%
    }
    .pure-u-sm-1-2,
    .pure-u-sm-12-24 {
        width: 50%
    }
    .pure-u-sm-13-24 {
        width: 54.1667%
    }
    .pure-u-sm-14-24,
    .pure-u-sm-7-12 {
        width: 58.3333%
    }
    .pure-u-sm-3-5 {
        width: 60%
    }
    .pure-u-sm-15-24,
    .pure-u-sm-5-8 {
        width: 62.5%
    }
    .pure-u-sm-16-24,
    .pure-u-sm-2-3 {
        width: 66.6667%
    }
    .pure-u-sm-17-24 {
        width: 70.8333%
    }
    .pure-u-sm-18-24,
    .pure-u-sm-3-4 {
        width: 75%
    }
    .pure-u-sm-19-24 {
        width: 79.1667%
    }
    .pure-u-sm-4-5 {
        width: 80%
    }
    .pure-u-sm-20-24,
    .pure-u-sm-5-6 {
        width: 83.3333%
    }
    .pure-u-sm-21-24,
    .pure-u-sm-7-8 {
        width: 87.5%
    }
    .pure-u-sm-11-12,
    .pure-u-sm-22-24 {
        width: 91.6667%
    }
    .pure-u-sm-23-24 {
        width: 95.8333%
    }
    .pure-u-sm-1,
    .pure-u-sm-1-1,
    .pure-u-sm-24-24,
    .pure-u-sm-5-5 {
        width: 100%
    }
}

@media screen and (min-width:48em) {
    .pure-u-md-1,
    .pure-u-md-1-1,
    .pure-u-md-1-12,
    .pure-u-md-1-2,
    .pure-u-md-1-24,
    .pure-u-md-1-3,
    .pure-u-md-1-4,
    .pure-u-md-1-5,
    .pure-u-md-1-6,
    .pure-u-md-1-8,
    .pure-u-md-10-24,
    .pure-u-md-11-12,
    .pure-u-md-11-24,
    .pure-u-md-12-24,
    .pure-u-md-13-24,
    .pure-u-md-14-24,
    .pure-u-md-15-24,
    .pure-u-md-16-24,
    .pure-u-md-17-24,
    .pure-u-md-18-24,
    .pure-u-md-19-24,
    .pure-u-md-2-24,
    .pure-u-md-2-3,
    .pure-u-md-2-5,
    .pure-u-md-20-24,
    .pure-u-md-21-24,
    .pure-u-md-22-24,
    .pure-u-md-23-24,
    .pure-u-md-24-24,
    .pure-u-md-3-24,
    .pure-u-md-3-4,
    .pure-u-md-3-5,
    .pure-u-md-3-8,
    .pure-u-md-4-24,
    .pure-u-md-4-5,
    .pure-u-md-5-12,
    .pure-u-md-5-24,
    .pure-u-md-5-5,
    .pure-u-md-5-6,
    .pure-u-md-5-8,
    .pure-u-md-6-24,
    .pure-u-md-7-12,
    .pure-u-md-7-24,
    .pure-u-md-7-8,
    .pure-u-md-8-24,
    .pure-u-md-9-24 {
        display: inline-block;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto
    }
    .pure-u-md-1-24 {
        width: 4.1667%
    }
    .pure-u-md-1-12,
    .pure-u-md-2-24 {
        width: 8.3333%
    }
    .pure-u-md-1-8,
    .pure-u-md-3-24 {
        width: 12.5%
    }
    .pure-u-md-1-6,
    .pure-u-md-4-24 {
        width: 16.6667%
    }
    .pure-u-md-1-5 {
        width: 20%
    }
    .pure-u-md-5-24 {
        width: 20.8333%
    }
    .pure-u-md-1-4,
    .pure-u-md-6-24 {
        width: 25%
    }
    .pure-u-md-7-24 {
        width: 29.1667%
    }
    .pure-u-md-1-3,
    .pure-u-md-8-24 {
        width: 33.3333%
    }
    .pure-u-md-3-8,
    .pure-u-md-9-24 {
        width: 37.5%
    }
    .pure-u-md-2-5 {
        width: 40%
    }
    .pure-u-md-10-24,
    .pure-u-md-5-12 {
        width: 41.6667%
    }
    .pure-u-md-11-24 {
        width: 45.8333%
    }
    .pure-u-md-1-2,
    .pure-u-md-12-24 {
        width: 50%
    }
    .pure-u-md-13-24 {
        width: 54.1667%
    }
    .pure-u-md-14-24,
    .pure-u-md-7-12 {
        width: 58.3333%
    }
    .pure-u-md-3-5 {
        width: 60%
    }
    .pure-u-md-15-24,
    .pure-u-md-5-8 {
        width: 62.5%
    }
    .pure-u-md-16-24,
    .pure-u-md-2-3 {
        width: 66.6667%
    }
    .pure-u-md-17-24 {
        width: 70.8333%
    }
    .pure-u-md-18-24,
    .pure-u-md-3-4 {
        width: 75%
    }
    .pure-u-md-19-24 {
        width: 79.1667%
    }
    .pure-u-md-4-5 {
        width: 80%
    }
    .pure-u-md-20-24,
    .pure-u-md-5-6 {
        width: 83.3333%
    }
    .pure-u-md-21-24,
    .pure-u-md-7-8 {
        width: 87.5%
    }
    .pure-u-md-11-12,
    .pure-u-md-22-24 {
        width: 91.6667%
    }
    .pure-u-md-23-24 {
        width: 95.8333%
    }
    .pure-u-md-1,
    .pure-u-md-1-1,
    .pure-u-md-24-24,
    .pure-u-md-5-5 {
        width: 100%
    }
}

@media screen and (min-width:64em) {
    .pure-u-lg-1,
    .pure-u-lg-1-1,
    .pure-u-lg-1-12,
    .pure-u-lg-1-2,
    .pure-u-lg-1-24,
    .pure-u-lg-1-3,
    .pure-u-lg-1-4,
    .pure-u-lg-1-5,
    .pure-u-lg-1-6,
    .pure-u-lg-1-8,
    .pure-u-lg-10-24,
    .pure-u-lg-11-12,
    .pure-u-lg-11-24,
    .pure-u-lg-12-24,
    .pure-u-lg-13-24,
    .pure-u-lg-14-24,
    .pure-u-lg-15-24,
    .pure-u-lg-16-24,
    .pure-u-lg-17-24,
    .pure-u-lg-18-24,
    .pure-u-lg-19-24,
    .pure-u-lg-2-24,
    .pure-u-lg-2-3,
    .pure-u-lg-2-5,
    .pure-u-lg-20-24,
    .pure-u-lg-21-24,
    .pure-u-lg-22-24,
    .pure-u-lg-23-24,
    .pure-u-lg-24-24,
    .pure-u-lg-3-24,
    .pure-u-lg-3-4,
    .pure-u-lg-3-5,
    .pure-u-lg-3-8,
    .pure-u-lg-4-24,
    .pure-u-lg-4-5,
    .pure-u-lg-5-12,
    .pure-u-lg-5-24,
    .pure-u-lg-5-5,
    .pure-u-lg-5-6,
    .pure-u-lg-5-8,
    .pure-u-lg-6-24,
    .pure-u-lg-7-12,
    .pure-u-lg-7-24,
    .pure-u-lg-7-8,
    .pure-u-lg-8-24,
    .pure-u-lg-9-24 {
        display: inline-block;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto
    }
    .pure-u-lg-1-24 {
        width: 4.1667%
    }
    .pure-u-lg-1-12,
    .pure-u-lg-2-24 {
        width: 8.3333%
    }
    .pure-u-lg-1-8,
    .pure-u-lg-3-24 {
        width: 12.5%
    }
    .pure-u-lg-1-6,
    .pure-u-lg-4-24 {
        width: 16.6667%
    }
    .pure-u-lg-1-5 {
        width: 20%
    }
    .pure-u-lg-5-24 {
        width: 20.8333%
    }
    .pure-u-lg-1-4,
    .pure-u-lg-6-24 {
        width: 25%
    }
    .pure-u-lg-7-24 {
        width: 29.1667%
    }
    .pure-u-lg-1-3,
    .pure-u-lg-8-24 {
        width: 33.3333%
    }
    .pure-u-lg-3-8,
    .pure-u-lg-9-24 {
        width: 37.5%
    }
    .pure-u-lg-2-5 {
        width: 40%
    }
    .pure-u-lg-10-24,
    .pure-u-lg-5-12 {
        width: 41.6667%
    }
    .pure-u-lg-11-24 {
        width: 45.8333%
    }
    .pure-u-lg-1-2,
    .pure-u-lg-12-24 {
        width: 50%
    }
    .pure-u-lg-13-24 {
        width: 54.1667%
    }
    .pure-u-lg-14-24,
    .pure-u-lg-7-12 {
        width: 58.3333%
    }
    .pure-u-lg-3-5 {
        width: 60%
    }
    .pure-u-lg-15-24,
    .pure-u-lg-5-8 {
        width: 62.5%
    }
    .pure-u-lg-16-24,
    .pure-u-lg-2-3 {
        width: 66.6667%
    }
    .pure-u-lg-17-24 {
        width: 70.8333%
    }
    .pure-u-lg-18-24,
    .pure-u-lg-3-4 {
        width: 75%
    }
    .pure-u-lg-19-24 {
        width: 79.1667%
    }
    .pure-u-lg-4-5 {
        width: 80%
    }
    .pure-u-lg-20-24,
    .pure-u-lg-5-6 {
        width: 83.3333%
    }
    .pure-u-lg-21-24,
    .pure-u-lg-7-8 {
        width: 87.5%
    }
    .pure-u-lg-11-12,
    .pure-u-lg-22-24 {
        width: 91.6667%
    }
    .pure-u-lg-23-24 {
        width: 95.8333%
    }
    .pure-u-lg-1,
    .pure-u-lg-1-1,
    .pure-u-lg-24-24,
    .pure-u-lg-5-5 {
        width: 100%
    }
}

@media screen and (min-width:80em) {
    .pure-u-xl-1,
    .pure-u-xl-1-1,
    .pure-u-xl-1-12,
    .pure-u-xl-1-2,
    .pure-u-xl-1-24,
    .pure-u-xl-1-3,
    .pure-u-xl-1-4,
    .pure-u-xl-1-5,
    .pure-u-xl-1-6,
    .pure-u-xl-1-8,
    .pure-u-xl-10-24,
    .pure-u-xl-11-12,
    .pure-u-xl-11-24,
    .pure-u-xl-12-24,
    .pure-u-xl-13-24,
    .pure-u-xl-14-24,
    .pure-u-xl-15-24,
    .pure-u-xl-16-24,
    .pure-u-xl-17-24,
    .pure-u-xl-18-24,
    .pure-u-xl-19-24,
    .pure-u-xl-2-24,
    .pure-u-xl-2-3,
    .pure-u-xl-2-5,
    .pure-u-xl-20-24,
    .pure-u-xl-21-24,
    .pure-u-xl-22-24,
    .pure-u-xl-23-24,
    .pure-u-xl-24-24,
    .pure-u-xl-3-24,
    .pure-u-xl-3-4,
    .pure-u-xl-3-5,
    .pure-u-xl-3-8,
    .pure-u-xl-4-24,
    .pure-u-xl-4-5,
    .pure-u-xl-5-12,
    .pure-u-xl-5-24,
    .pure-u-xl-5-5,
    .pure-u-xl-5-6,
    .pure-u-xl-5-8,
    .pure-u-xl-6-24,
    .pure-u-xl-7-12,
    .pure-u-xl-7-24,
    .pure-u-xl-7-8,
    .pure-u-xl-8-24,
    .pure-u-xl-9-24 {
        display: inline-block;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto
    }
    .pure-u-xl-1-24 {
        width: 4.1667%
    }
    .pure-u-xl-1-12,
    .pure-u-xl-2-24 {
        width: 8.3333%
    }
    .pure-u-xl-1-8,
    .pure-u-xl-3-24 {
        width: 12.5%
    }
    .pure-u-xl-1-6,
    .pure-u-xl-4-24 {
        width: 16.6667%
    }
    .pure-u-xl-1-5 {
        width: 20%
    }
    .pure-u-xl-5-24 {
        width: 20.8333%
    }
    .pure-u-xl-1-4,
    .pure-u-xl-6-24 {
        width: 25%
    }
    .pure-u-xl-7-24 {
        width: 29.1667%
    }
    .pure-u-xl-1-3,
    .pure-u-xl-8-24 {
        width: 33.3333%
    }
    .pure-u-xl-3-8,
    .pure-u-xl-9-24 {
        width: 37.5%
    }
    .pure-u-xl-2-5 {
        width: 40%
    }
    .pure-u-xl-10-24,
    .pure-u-xl-5-12 {
        width: 41.6667%
    }
    .pure-u-xl-11-24 {
        width: 45.8333%
    }
    .pure-u-xl-1-2,
    .pure-u-xl-12-24 {
        width: 50%
    }
    .pure-u-xl-13-24 {
        width: 54.1667%
    }
    .pure-u-xl-14-24,
    .pure-u-xl-7-12 {
        width: 58.3333%
    }
    .pure-u-xl-3-5 {
        width: 60%
    }
    .pure-u-xl-15-24,
    .pure-u-xl-5-8 {
        width: 62.5%
    }
    .pure-u-xl-16-24,
    .pure-u-xl-2-3 {
        width: 66.6667%
    }
    .pure-u-xl-17-24 {
        width: 70.8333%
    }
    .pure-u-xl-18-24,
    .pure-u-xl-3-4 {
        width: 75%
    }
    .pure-u-xl-19-24 {
        width: 79.1667%
    }
    .pure-u-xl-4-5 {
        width: 80%
    }
    .pure-u-xl-20-24,
    .pure-u-xl-5-6 {
        width: 83.3333%
    }
    .pure-u-xl-21-24,
    .pure-u-xl-7-8 {
        width: 87.5%
    }
    .pure-u-xl-11-12,
    .pure-u-xl-22-24 {
        width: 91.6667%
    }
    .pure-u-xl-23-24 {
        width: 95.8333%
    }
    .pure-u-xl-1,
    .pure-u-xl-1-1,
    .pure-u-xl-24-24,
    .pure-u-xl-5-5 {
        width: 100%
    }
}

* {
    box-sizing: border-box
}

nav img {
    width: 90%
}

.circles-wrap {
    overflow: hidden;
    width: 300px;
    height: 230px;
    display: block;
    margin: 0 auto
}

.addiction-circle,
.mental-circle {
    height: 180px;
    width: 180px;
    top: 25px;
    transition: all 1s ease-in-out;
    position: absolute
}

.addiction-circle {
    background-color: rgba(173, 196, 202, .6);
    border: 25px solid rgba(173, 196, 202, .65);
    border-radius: 50%
}

.mental-circle {
    background-color: rgba(97, 128, 155, .6);
    border: 25px solid rgba(97, 128, 155, .65);
    border-radius: 50%;
    right: 10px
}

#circleh3 {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    margin: 0 auto 0 -15%;
    top: 95px;
    left: 50%
}

.addiction-circle p,
.mental-circle p {
    font-size: 13px;
    margin-left: -2em;
    font-weight: 700;
    margin-top: 3.5em;
    color: #235666
}

.mental-circle p {
    float: right;
    margin-left: 0;
    margin-right: -2em
}

p.desktop-hide {
    font-weight: 400;
    margin-top: -1.25em
}

.pure-g [class*=pure-u],
button,
html,
input,
select,
textarea {
    font-family: 'Source Sans Pro', Montserrat, sans-serif
}

body {
    color: #474747;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    line-height: 1.3em
}

p {
    font-family: 'Source Sans Pro', sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #474747;
    font-family: Montserrat, sans-serif
}

.OPButtons,
.we-can-help button p {
    font-family: Montserrat;
    text-transform: uppercase
}

h2 {
    font-size: 1.4375em
}

section {
    padding: .5em;
    max-width: 1200px;
    margin: 0 auto
}

.pure-img-responsive {
    max-width: 100%;
    height: auto
}

.l-box {
    padding: 0 1.2em 1em
}

.ta-l {
    text-align: left
}

.OPButtons {
    display: inherit;
    color: #1e496f;
    background-color: #fff;
    padding: .4em 2.5em;
    margin: 0 auto 2em;
    border-color: #8da6bc;
    border-style: solid
}

.home-menu {
    padding: .5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background: linear-gradient(to right, rgba(28, 73, 115, .87), rgba(29, 120, 145, .87))
}

.home-menu .header--phone {
	background: #81BE55;
	color: #fff;
	padding: 10px 16px;
	border-radius: 5px;
	font-size: 20px;
	box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
	display: block;
}/*menu phone*/

.home-menu .header--phone a {
	color: #fff;
	text-decoration: none;
}

.pure-menu.pure-menu-fixed {
    border-bottom: none;
    z-index: 4
}

.home-menu .pure-menu-heading {
    color: #fff;
    font-weight: 400;
    font-size: 120%;
    display: block;
    float: left;
    width: 25%
}

.home-menu a {
    color: #fff
}

.home-menu li a:focus,
.home-menu li a:hover {
    background: 0 0;
    border: none;
    color: #AECFE5
}

.green-cta,
.green-cta a {
    font-size: 32px;
    color: #98c775
}

.splash {
    margin: auto;
    text-align: center;
    width: 100%;
    max-width: 800px
}

.splash-container {
    background-repeat: no-repeat!important;
    box-shadow: 0 0 0 2000px rgba(0, 0, 0, .3) inset;
    min-height: 340px;
    overflow: hidden;
    padding: 100px 0 200px;
    position: relative;
    width: 100%;
    z-index: 1;
    background-position: 50% 50%
}

.splash-head {
    font-size: 28px;
    color: #fff;
    padding: 1em .5em;
    font-weight: 100;
    line-height: 1em;
    text-shadow: 1px 1px rgba(0, 0, 0, .7)
}

.splash-subhead {
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 0
}

a {
    display: block
}

.line {
    width: 100%;
    border-color: #c7dddd transparent;
    margin-bottom: 1em
}

.line:after,
.line:before {
    content: '';
    position: relative;
    border-style: solid;
    border-width: 7px 10px 0;
    border-color: #c7dddd transparent;
    width: 0;
    z-index: 1;
    left: 47.5%;
    border-radius: 1px;
    display: block
}

.line:after {
    top: -6px
}

.line:before {
    top: 0
}

.we-can-help {
    background-color: #d1d8da;
    padding: 1em;
    width: 100%;
    max-width: 1200px
}

.we-can-help button {
    color: #fff;
    background-color: #345b7a;
    width: 100%;
    height: 70px;
    text-align: left;
    border-radius: 5px;
    border: none;
    max-width: 550px;
    margin: 0 auto;
    display: block
}

.we-can-help button p {
    padding-right: 64px;
    margin: 14px 15px 10px;
    text-align: left;
    font-size: 16px;
    line-height: 120%;
    max-width: 100%
}

.fa-caret-down:before,
.i-icons,
.scrollToTop,
footer,
footer img {
    text-align: center
}

.fa-caret-down:before {
    content: "\f0d7";
    float: right;
    background-color: #38526a;
    width: 5%;
    border-radius: 6px;
    font-size: 35px;
    padding: 17px 27px 17px 20px;
    margin-right: -7px;
    margin-top: -2px
}

.our-process h2 {
    margin: 10px 0 5px
}

section.our-process .is-center p {
    margin-top: 0
}

.our-process .is-center {
    padding-bottom: .5em;
    font-size: 15px
}

section.our-process {
    overflow: hidden;
    padding: .5em 0;
    width: 100%
}

.op-svgs img {
    width: 100%
}

.paddingcentered {
    padding: 0 1.2em;
    line-height: 20px
}

section.integrated-treatment::after, section.integrated-treatment::before, section.integrated-treatment .card .card--inner::before, section.integrated-treatment .card .card--inner::after {
	clear: both;
	content: "";
	display: table;
}

section.integrated-treatment h3,
section.integrated-treatment img,
section.integrated-treatment p {
    padding: 0 .7em;
    line-height: 22px;
	max-width: 678px;
	margin: auto;
}

section.integrated-treatment p {padding-bottom: 2em;}

section.integrated-treatment h3 {
    font-size: 16px;
}
section.integrated-treatment h2 {line-height: 29px;}

section.integrated-treatment .card {
	box-shadow: 2px 4px 8px rgba(0,0,0,0.1);
	float: left;
	width: 42.5%; 
	overflow: hidden;
	border-radius: 5px;
	min-height: 415px;
}

section.integrated-treatment .card .card--inner {padding: 32px;}

section.integrated-treatment .card ul {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 45%;
}

section.integrated-treatment .card ul:nth-of-type(2){margin-left: 10%; float: right;}
section.integrated-treatment .card ul li {margin-bottom: 8px; display: block;}

section.integrated-treatment .card.right {float: right; }
section.integrated-treatment .card.right h2 {background: url(../../mobile-images/substance-abuse-background.jpg);}
section.integrated-treatment .plus-symbol {position: relative; background: transparent url(../../mobile-images/plus-symbol.svg) no-repeat scroll center center / 40px 40px; width: 40px; float: left; width: 15%; margin: 0; height:  415px;}

section.integrated-treatment .card h2 {
	text-align: center;
	color: #fff;
	background: #000; 
	padding: 75px 32px;
	margin: 0;
	background: url(../../mobile-images/mental-health-background.jpg);
    background-size: cover;
	position: relative;
	z-index: 0;
	font-size: 32px;
}

section.integrated-treatment .card h2:before {
	background: #1D3E5A; 
	opacity: .7;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	content: "";
	z-index: -1;
}/** end after **/

/***this ends the cards ***/


@media only screen and (max-width : 880px) {
	section.integrated-treatment .card {width: 100%; float: none; min-height: 0; height: auto;}
	section.integrated-treatment .plus-symbol {height: 40px; width: 100%; float: none; margin: 32px auto;}
	section.integrated-treatment p {padding-bottom: 2rem;}
	section.integrated-treatment, section.integrated-treatment .card .card--inner {padding: 15px;}
	section.integrated-treatment .card .card--inner ul li {font-size: 14.5px;}
}/**mobile styles for the integrated treatment section **/

section#risk-assessment {
    overflow: hidden;
    padding: 4.5em 30px;
    width: 100%;
    margin-top: 32px;
}

#risk-assessment .pure-g {
    max-width: 1200px;
    margin: 0 auto;
}

#risk-assessment p {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 18px;
    font-family: inherit;
    max-width: 100%;
    margin: 0 auto;
    padding-right: 80px;
}

#risk-assessment h3 {
    font-size: 30px;
    max-width: 100%;
    line-height: 37px;
    margin-bottom: 30px;
    text-align: left;
    padding-right: 60px;
}

#risk-assessment .first-assmt{
}

#risk-assessment .second-assmt{
	padding-left: 30px;
}

.pure-u-1-1.pure-u-md-1-2 .assessments {
    background: #FFFFFF;
    text-align: center;
    padding: 30px;
    min-height: 180px;
    margin-right: 30px;
    max-width: 350px;
    margin: 0 auto;
    margin-right: 0;
    box-shadow: 3px 5px 5px 0 rgba(0,0,0,0.10)
}

.pure-u-1-1.pure-u-md-1-2 .assessments.last{
	margin-right: 0;
}

#risk-assessment h2.is-center {
    font-weight: normal;
    font-weight: 400;
    font-size: 18px;
    min-height: 50px;
    line-height: 25px;
}

.sc-bwzfXH.jfmHCR iframe {
    max-width: 95% !important;
    max-height: 75% !important;
    display: block !important;
    margin: 0 auto !important;
}

.sc-bwzfXH.jfmHCR {
    width: calc(100vw - 160px);
    height: calc(100vh - 0px);
    top: 80px;
    left: 80px;
}

.bdHjim {
    top: -1%;
    position: absolute;
    right: -24px;
}


@media only screen 
and (min-width : 768px) 
and (max-width : 1024px)  {

#risk-assessment h3, #risk-assessment p {
	text-align: center;
    padding-right: 0;
    max-width: 600px;
}

#risk-assessment .pure-u-1-1.pure-u-md-1-2 .assessments{
    margin: 0 auto;
    max-width: none;
}

#risk-assessment .pure-u-1-1.pure-u-md-1-2 .assessments.last {
	margin: 0 auto;
	max-width: none;
}

#risk-assessment .pure-u-1.pure-u-md-1-1.pure-u-lg-2-3 {
    margin-top: 40px;
}

#risk-assessment .second-assmt {
    padding-left: 15px;
}

}

@media only screen  
and (max-width : 767px)  {

	section#risk-assessment{
		padding: 30px 15px;
	}
	
	#risk-assessment h3 {
	    text-align: center;
	    padding-right: 0;
	    font-size: 23px;
	    line-height: 28px;
	}

	#risk-assessment p {
	    text-align: center;
	    padding-right: 0;
	    max-width: 500px;
        margin-bottom: 30px;
	}

	#risk-assessment .pure-u-1-1.pure-u-md-1-2 .assessments {
    	margin: 0 auto;
	}

	#risk-assessment .second-assmt{
		padding-left: 0;
		margin-top: 15px;
	}

}

@media only screen 
and (min-width : 1024px) 
and (max-width : 1095px)  {
 
 #risk-assessment .pure-u-1-1.pure-u-md-1-2 .assessments {
    padding: 30px 18px;
	}
}

.greybg {
    background-color: #edeeee
}

.gold-standard {
    background-color: #36393b;
    color: #fff;
    padding: 1em 0
}

.gold-standard h3 {
    color: #fff;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 16px
}

.gold-standard h2 {
    color: #f7c442;
    margin-top: 0
}

.gold-standard img,
.our-locations img {
    float: left;
    width: 40%
}

.our-locations {
    background: url(http://www.rehabandtreatment.com/wp-content/themes/Rehab-And-Treatment/mobile-images/our-locations-background.jpg);
    background-size: cover;
	max-width: none;
}
.our-locations .inner {
	max-width: 1264px;
	position: relative;
	margin: auto;
	padding: 32px;
}/*end inner*/ 



.our-locations .inner .location--phone {
	text-align: center;
	display: block;
	color: #99C678;
	font-size: 60px;
	font-weight: 700;
	line-height: 1;
}/*end phone */
.our-locations .inner .location--phone span, our-locations .inner .location--phone a {display: block; color: #99C678;}
.our-locations .inner .location--phone a {color: #99C678;}
.our-locations .inner h3 {
	max-width: 460px; 
	margin: auto;
	position: relative;
	margin-top: 60px;
	font-size: 24;
	line-height: 29px;
}

.our-locations .inner .divider {
	width: 100%; 
	max-width: 64px;
	margin: 32px auto;
	height: 3px;
	background: #2C4961;
	line-height: 32px;
}

@media only screen and (max-width : 880px) {
	.our-locations .inner {padding: 15px 15px 32px;}
	.our-locations .inner .location--phone {font-size: 32px;}
	.our-locations .inner .location--phone a {color: #99C678;}
	.our-locations .inner h3 {margin-top: 32px; text-align: left;}
}

.locationstabs {
    padding-left: 1em
}

.locationstabs h6 {
    color: #1e496f
}

.locationstabs span {
    border-style: solid;
    border-color: #8da6bc;
    border-width: 2px;
    padding: 1em
}

.big-stats {
    padding: 2em 1em;
    background-size: cover;
    background: linear-gradient(to bottom, #245e7d 5%, #98c775)
}

.big-stats h3 {
    color: #13304c;
    font-weight: 400
}

.big-stats p {
    color: #fff
}

.big-digits {
    font-weight: 700;
    font-size: 350%;
    color: #f3eb18;
    margin-bottom: 5px;
    display: block
}

.cost-of-treatment {
    padding: 1em
}

.cot-list p,
.cot-list ul {
    padding: 0;
    font-family: 'Source Sans Pro';
    margin-top: 0
}

.cot-list p.ta-l {
    padding: 0 2em
}

.cot-list {
    background-color: #fff;
    -webkit-box-shadow: 3px 5px 5px 0 rgba(219, 219, 219, 1);
    -moz-box-shadow: 3px 5px 5px 0 rgba(219, 219, 219, 1);
    box-shadow: 3px 5px 5px 0 rgba(219, 219, 219, 1);
    padding: 1em 0
}

.cot-list li {
    display: block;
    border-bottom: 1px solid #dce7eb;
    padding: 5px 5px 5px 2em;
    font-size: 15px;
    width: 100%
}

.cot-list li i {
    color: #448e87;
    font-size: 18px;
    padding-right: 10px
}

.i-icons img {
    padding: .5em
}

.insurance hr {
    width: 90%;
    opacity: .5
}

.insurance p {
    font-size: 12px;
    line-height: 18px
}

.insurance {
    padding: 0
}

.program-details {
    background: url(http://www.rehabandtreatment.com/wp-content/themes/Rehab-And-Treatment/mobile-images/program-details-background.jpg);
    padding: .5em 1em 1.5em;
    background-size: cover
}

.program-details h2,
.program-details p {
    color: #fff
}

.cost-of-treatment ul li i:after {
    background-color: #FFF
}

.expect-call {
    padding: 1em
}

.expect-call p {
    font-size: 15px
}

.cta-phone {
    background-color: #2a4962;
    padding: 2.5em 1em 1em
}

.cta-phone h3 {
    color: #fff;
    line-height: 1.3em;
    max-width: 90%;
    margin: 0 auto
}

.cta-phone p {
    color: #aab6c0;
    font-family: Montserrat
}

.item .testimonial-quote,
.testimonial-quote {
    font-family: 'Source Sans Pro', sans-serif
}

.testimonial-quote {
    font-size: 14px;
    width: 60%;
    margin: 0;
    float: left;
    line-height: 14px;
    font-style: italic
}

.slide {
    height: 200px!important
}

.slide cite {
    color: #5a9f7b;
    text-transform: uppercase;
    line-height: 30px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: .3px
}

footer {
    font-style: italic;
    padding: 2em;
    background-color: #d0d1d1;
    line-height: 19px;
    font-size: 13px;
    border-top-style: solid;
    border-width: thick;
    border-top-color: #fff
}

.cta-phone .green-cta {
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #4d667a;
    border-width: thin;
    padding: .5em 0;
    color: #99c450;
    max-width: 1200px;
    margin: 15px auto
}

.scrollToTop {
    width: 75px;
    height: 75px;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
    background-color: #1f4f77;
    opacity: .702
}

.scrollToTop i.fa.fa-caret-up {
    font-size: 3em;
    padding-top: 10px
}

#mobile-nav.visible {
    top: 0;
    transition: all ease .5s;
    z-index: 5
}

#mobile-nav.hidden2 {
    top: -100px;
    transition: all ease .5s
}

#mobile-nav {
    background: linear-gradient(to right, rgba(28, 73, 115, .95), rgba(29, 120, 145, .95));
    box-shadow: 0 6px 0 rgba(0, 0, 0, .15);
    font-family: Montserrat, sans-serif;
    left: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 70px
}

#mobile-nav .pure-u-1-5,
#mobile-nav .pure-u-md-1-3 {
    box-sizing: border-box;
    padding: 20px 10px;
    text-align: center;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    float: left
}

#mobile-nav .pure-u-3-5.number,
span.phone-number-fixed a {
    color: #c2ec7c;
    display: inline-block
}

#mobile-nav .pure-u-3-5.number {
    font-size: 25px;
    font-family: Montserrat;
    border-right: 2px solid #4e9db8;
    border-left: 2px solid #4e9db8;
    line-height: 100%;
    padding-top: 1em;
    -webkit-font-smoothing: antialiased
}

nav#frn-nav {
    position: absolute
}

i.fa.fa-mobile.mobile-hide {
    font-size: 32px;
    color: #fff;
    padding-right: 10px;
    padding-top: 0;
    display: inline-block
}

.content-wrapper {
    background: #fff;
    position: relative;
    width: 100%;
    z-index: 2
}

.transition,
p,
ul li i:after,
ul li i:before {
    transition: all .25s ease-in-out
}

.flipIn,
h1,
ul li {
    animation: flipdown .5s ease both
}

.no-select,
h2 {
    -webkit-tap-highlight-color: transparent;
    user-select: none
}

.accordian-wrapper {
    width: 100%;
    height: 100%;
    perspective: 900;
    color: rgba(48, 69, 92, .8)
}

.accordian {
    min-height: 0;
    display: inline-block;
    position: relative;
    left: 50%;
    margin: 90px 0;
    transform: translate(-50%, 0);
    background-color: #fff;
    max-width: 450px;
    padding: 0
}

@media (max-width:550px) {
    .accordian {
        box-sizing: border-box;
        transform: translate(0, 0);
        max-width: 100%;
        min-height: 100%;
        margin: 0;
        left: 0
    }
    .splash-container {
        padding: 75px 0 50px
    }
    .splash {
        padding: 0 15px
    }
}

.accordian h3 {
    display: block;
    margin: 6px 0 0;
    cursor: pointer;
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-size: 17px;
    line-height: 0
}

.accordian p {
    color: #474747;
    font-size: 13px;
    line-height: 15px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    z-index: 2;
    margin: 5px
}

.accordian p:first-of-type {
    margin-top: 1.5em
}

.accordian ul {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0
}

.accordian ul li {
    position: relative;
    margin: 0;
    border-top: 1px dotted #dce7eb;
    padding: 18px 15px 4px
}

.accordian ul li:nth-of-type(1) {
    border: none;
    animation-delay: .5s;
    padding-bottom: 0
}

.accordian ul li:nth-of-type(2) {
    animation-delay: .75s;
    padding-bottom: 0;
    margin-bottom: -5px
}

.accordian ul li:nth-of-type(3) {
    animation-delay: 1s
}

.accordian ul li:nth-of-type(4) {
    animation-delay: 1.25s
}

.accordian ul li:last-of-type {
    padding-bottom: 0
}

.accordian ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 3px;
    right: 0
}

.accordian ul li i:before,
ul li i:after {
    content: "";
    position: absolute;
    background-color: #6bab72;
    width: 3px;
    height: 9px;
    right: 20px
}

.accordian ul li i:before {
    transform: translate(-2px, 0) rotate(45deg)
}

.accordian ul li i:after {
    transform: translate(2px, 0) rotate(-45deg)
}

.accordian ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0
}

.accordian ul li input[type=checkbox]:checked~p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%)
}

.accordian ul li input[type=checkbox]:checked~i:before {
    transform: translate(2px, 0) rotate(45deg)
}

.accordian ul li input[type=checkbox]:checked~i:after {
    transform: translate(-2px, 0) rotate(-45deg)
}

@keyframes flipdown {
    0% {
        opacity: 0;
        transform-origin: top center;
        transform: rotateX(-90deg)
    }
    5% {
        opacity: 1
    }
    80% {
        transform: rotateX(8deg)
    }
    83% {
        transform: rotateX(6deg)
    }
    92% {
        transform: rotateX(-3deg)
    }
    100% {
        transform-origin: top center;
        transform: rotateX(0)
    }
}

@media (min-width:48em) {
    .home-menu .pure-menu-heading {
        color: #fff;
        font-weight: 400;
        font-size: 120%;
        display: block;
        float: none;
        width: 100%;
        max-width: 400px;
        margin: 0 auto
    }
    ul.pure-menu-list.mobile-hide {
        float: none;
        margin: 0 auto;
        display: block!important;
        text-align: center
    }
    .splash {
        padding-top: 1em
    }
    h2 {
        line-height: 1em
    }
    body {
        font-size: 16px
    }
    .content {
        padding: 1em 0
    }
    .home-menu {
        text-align: left
    }
    .home-menu ul {
        float: right;
        margin-top: 8px
    }
    #mobile-nav .pure-u-3-5.number {
        padding-top: 20px
    }
    .testimonials {
        display: none
    }
    section.desktop-tc.mobile-hide {
        display: block!important;
        padding: 2em 2em 4em
    }
    .bx-wrapper #desktop-tc img {
        max-width: 100%;
        display: block;
        float: left;
        width: 15%;
        padding-right: 10px
    }
    .bx-wrapper #desktop-tc .testimonial-quote {
        font-size: 16px;
        width: 35%;
        margin: 0;
        float: left;
        line-height: 16px;
        font-family: 'Source Sans Pro', sans-serif;
        font-style: italic;
        padding-right: 5em
    }
    .bx-viewport {
        height: 600px!important
    }
    .splash-container {
        background-size: cover!important
    }
    .splash-subhead {
        font-size: 18px
    }
    .inner {
        width: 100%;
        margin: auto;
        position: relative;
        max-width: 1200px
    }
    .fa-comments-o:before,
    .fa-envelope:before {
        padding-right: 10px
    }
    nav#frn-nav {
        position: fixed
    }
    #mobile-nav.visible {
        bottom: 0!important;
        transition: all ease .5s;
        z-index: 5;
        top: inherit;
        box-shadow: 0 0 0 6px rgba(0, 0, 0, .15)
    }
    #mobile-nav.hidden2 {
        bottom: -100px!important;
        transition: all ease .5s;
        top: inherit
    }
    .scrollToTop {
        display: none!important;
        opacity: 0!important
    }
    .we-can-help button p {
        margin-top: 24px;
        font-size: 18px;
        margin-left: 30px
    }
    .fa-caret-down:before {
        margin-top: -1px;
        padding-right: 20px
    }
    .we-can-help {
        margin: -150px auto 0;
        padding: 2em 1em
    }
    #wch-blue {
        color: #d0dfeb
    }
    h2 {
        font-size: 1.875em
    }
    .our-process .is-center {
        padding: 1em
    }
    .our-process .pure-u-1.pure-u-md-1-3:last-of-type {
        border: none
    }
    .our-process .pure-u-1.pure-u-md-1-3 {
        border-right: 3px solid #fff
    }
    .line {
        margin: 2em 0
    }
    .green-cta {
        font-size: 40px
    }
    section.our-process .is-center p {
        margin-top: 15px
    }
    #mobile-nav span.mobile-hide {
        color: #c2ec7c;
        font-size: 25px;
        display: inline-block!important
    }
    section.integrated-treatment {
        padding: 4em 4em;
    }
    .integrated-treatment .is-center p {
       padding-bottom: 2em;
    }
    .integrated-treatment .pure-u-1.pure-u-lg-1-3.mobile-hide {
        text-align: center;
        border: solid #b7c5ca
    }
    .integrated-treatment .pure-u-1 h3 {
        font-size: 17px;
        color: #235666;
        line-height: 18px
    }
    section.integrated-treatment h3 {
        font-size: 20px;
        line-height: 25px
    }
    .gold-standard img,
    .our-locations img {
        width: 200px;
        margin-top: -3em
    }
    .gold-standard {
        padding: 2em 10% 4em;
        max-width: 100%
    }
    .gold-standard h3 {
        color: #fff;
        margin-bottom: .5em;
        font-weight: 400;
        font-size: 20px
    }
    .our-locations img {
        float: right;
        margin-top: -.5em
    }
    section.big-stats {
        max-width: 100%;
        padding: 5em .5em
    }
    .cost-of-treatment {
        max-width: 100%
    }
    .insurance {
        padding: 2em
    }
    .insurance .i-icons {
        padding: 0
    }
    .insurance .pure-u-1-2.pure-u-md-1-5 {
        padding: 1em
    }
    .insurance hr {
        width: 100%
    }
    .insurance p {
        font-size: 14px;
        line-height: 18px;
        padding: 1em 15em
    }
    section.program-details {
        max-width: 100%;
        padding: .5em 0
    }
    .accordian {
        max-width: 1000px;
        width: 700px;
        margin: 30px 0 60px
    }
    .accordian p {
        color: #474747;
        font-size: 16px;
        line-height: 20px
    }
    .accordian h3 {
        font-size: 20px
    }
    .accordian p:last-of-type {
        margin-bottom: 10px
    }
    .insurance .l-box.is-center p {
        margin-bottom: 0;
        padding-bottom: 0
    }
    .expect-call {
        padding: 2em;
        max-width: 100%
    }
    .expect-call .pure-g {
        margin: 0 auto;
        max-width: 850px
    }
    .expect-call p {
        font-size: 17px;
        text-align: left;
        margin-top: 0
    }
    .cta-phone,
    footer {
        max-width: 100%;
        margin: 0 auto
    }
    .cta-phone h3,
    .cta-phone p {
        font-size: 1.875em
    }
    footer {
        padding-bottom: 6em
    }
    footer img,
    footer p {
        margin: 0 auto
    }
    .cot-list li {
        float: left;
        width: 50%
    }
    .cot-list li:last-child {
        width: 100%;
        float: none;
        clear: both
    }
    p.desktop-hide {
        display: none
    }
    .splash {
        width: 75%;
        height: 50%
    }
    .splash-head {
        font-size: 250%;
        padding: 0
    }
    .mobile-hide {
        display: inline-block!important
    }
}

@media (min-width:75em) {
    .splash-head {
        font-size: 300%
    }
    .home-menu .pure-menu-heading {
        color: #fff;
        font-weight: 400;
        font-size: 120%;
        display: block;
        float: left;
        width: 25%
    }
    ul.pure-menu-list.mobile-hide {
        float: right;
        margin: 8px 0 0
    }
    .splash {
        padding-top: 0
    }
    .gold-standard {
        padding: 2em 20% 4em
    }
    section.big-stats {
        max-width: 100%;
        padding: 7em .5em
    }
    .insurance .i-icons {
        padding: 2em
    }
    .integrated-treatment .pure-u-1.pure-u-lg-1-3.mobile-hide {
        padding-top: 1em
    }
    .bx-viewport {
        height: 400px!important
    }
}

@media (max-width:47.9em) {
    .mobile-hide {
        display: none!important
    }
    .home-menu .pure-menu-heading {
        float: none;
        width: initial;
        margin: 0 auto
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden
}

.video-container embed,
.video-container iframe,
.video-container object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

#modal,
#modal2 {
    margin: 0 auto 0 10%;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    width: 80%;
    box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
    box-sizing: border-box;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out
}

#modal2:target,
#modal:target {
    opacity: 1;
    visibility: visible;
    padding-top: 30%
}

#modal h2,
#modal2 h2 {
    margin: 0;
    color: #256;
    text-align: center
}

#modal .copy,
#modal .footer,
#modal .header,
#modal2 .copy,
#modal2 .footer,
#modal2 .header {
    padding: 10px;
    color: #474747;
    text-align: center
}

.modal-content,
.modal2-content {
    background: #fff;
    position: relative;
    z-index: 20;
    border-radius: 5px;
    color: #256;
    padding: 1em
}

#modal .copy,
#modal2 .copy {
    background: #fff
}

#modal .overlay,
#modal2 .overlay {
    background-color: #000;
    background: rgba(0, 0, 0, .8);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10
}

#modal .copy a,
#modal2 .copy a {
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 1px;
    background-color: #256!important;
    text-transform: uppercase
}

@media (max-width:320px) {
    #mobile-nav .pure-u-3-5.number {
        font-size: 23px
    }
}

footer a {
    display: inline-block;
    color: #474747
}

.gallery .control-operator:target~.controls .control-button {
    color: #ccc;
    animation: none
}

.gallery .control-button:first-of-type,
.gallery .control-operator:nth-of-type(1):target~.controls .control-button:nth-of-type(1),
.gallery .control-operator:nth-of-type(2):target~.controls .control-button:nth-of-type(2),
.gallery .control-operator:nth-of-type(3):target~.controls .control-button:nth-of-type(3),
.gallery .control-operator:nth-of-type(4):target~.controls .control-button:nth-of-type(4),
.gallery .control-operator:nth-of-type(5):target~.controls .control-button:nth-of-type(5) {
    color: #5a9f7b
}

.gallery .item:first-of-type {
    position: static;
    pointer-events: auto;
    opacity: 1
}

.gallery .item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    opacity: 0;
    transition: opacity .5s
}

.arrow-next,
.arrow-previous {
    position: absolute;
    margin-top: -8px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999
}

.gallery .control-operator {
    display: none
}

.gallery .control-operator:target~.item {
    pointer-events: none;
    opacity: 0;
    animation: none
}

.gallery .secondary-controls a {
    pointer-events: auto;
    border-radius: 60px;
    color: rgba(255, 255, 255, .6);
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    transition: all .25s;
    bottom: -50px
}

.arrow-previous {
    left: 10px;
    background: url(/wp-content/themes/Rehab-And-Treatment/mobile-js/images/controls.png) 0 -32px no-repeat
}

.arrow-next {
    right: 10px;
    background: url(/wp-content/themes/Rehab-And-Treatment/mobile-js/images/controls.png) -43px -32px no-repeat
}

@keyframes controlAnimation-2 {
    0% {
        color: #ccc;
        color: rgba(255, 255, 255, .4)
    }
    14.3%,
    50% {
        color: #fff;
        color: rgba(255, 255, 255, .8)
    }
    100%,
    64.3% {
        color: #ccc;
        color: rgba(255, 255, 255, .4)
    }
}

@keyframes galleryAnimation-2 {
    0% {
        opacity: 0
    }
    14.3%,
    50% {
        opacity: 1
    }
    100%,
    64.3% {
        opacity: 0
    }
}

.items-2.autoplay .control-button {
    animation: controlAnimation-2 14s infinite
}

.items-2.autoplay .item {
    animation: galleryAnimation-2 14s infinite
}

.items-2 .control-button:nth-of-type(1),
.items-2 .item:nth-of-type(1) {
    animation-delay: -2s
}

.items-2 .control-button:nth-of-type(2),
.items-2 .item:nth-of-type(2) {
    animation-delay: 5s
}

@keyframes controlAnimation-3 {
    0% {
        color: #ccc;
        color: rgba(255, 255, 255, .4)
    }
    33.3%,
    9.5% {
        color: #fff;
        color: rgba(255, 255, 255, .8)
    }
    100%,
    42.9% {
        color: #ccc;
        color: rgba(255, 255, 255, .4)
    }
}

@keyframes galleryAnimation-3 {
    0% {
        opacity: 0
    }
    33.3%,
    9.5% {
        opacity: 1
    }
    100%,
    42.9% {
        opacity: 0
    }
}

.items-3.autoplay .control-button {
    animation: controlAnimation-3 21s infinite
}

.items-3.autoplay .item {
    animation: galleryAnimation-3 21s infinite
}

.items-3 .control-button:nth-of-type(1),
.items-3 .item:nth-of-type(1) {
    animation-delay: -2s
}

.items-3 .control-button:nth-of-type(2),
.items-3 .item:nth-of-type(2) {
    animation-delay: 5s
}

.items-3 .control-button:nth-of-type(3),
.items-3 .item:nth-of-type(3) {
    animation-delay: 12s
}

@keyframes controlAnimation-4 {
    0% {
        color: #ccc;
        color: rgba(255, 255, 255, .4)
    }
    25%,
    7.1% {
        color: #fff;
        color: rgba(255, 255, 255, .8)
    }
    100%,
    32.1% {
        color: #ccc;
        color: rgba(255, 255, 255, .4)
    }
}

@keyframes galleryAnimation-4 {
    0% {
        opacity: 0
    }
    25%,
    7.1% {
        opacity: 1
    }
    100%,
    32.1% {
        opacity: 0
    }
}

.items-4.autoplay .control-button {
    animation: controlAnimation-4 28s infinite
}

.items-4.autoplay .item {
    animation: galleryAnimation-4 28s infinite
}

.items-4 .control-button:nth-of-type(1),
.items-4 .item:nth-of-type(1) {
    animation-delay: -2s
}

.items-4 .control-button:nth-of-type(2),
.items-4 .item:nth-of-type(2) {
    animation-delay: 5s
}

.items-4 .control-button:nth-of-type(3),
.items-4 .item:nth-of-type(3) {
    animation-delay: 12s
}

.items-4 .control-button:nth-of-type(4),
.items-4 .item:nth-of-type(4) {
    animation-delay: 19s
}

@keyframes controlAnimation-5 {
    0% {
        color: #ccc;
        color: rgba(255, 255, 255, .4)
    }
    20%,
    5.7% {
        color: #fff;
        color: rgba(255, 255, 255, .8)
    }
    100%,
    25.7% {
        color: #ccc;
        color: rgba(255, 255, 255, .4)
    }
}

@keyframes galleryAnimation-5 {
    0% {
        opacity: 0
    }
    20%,
    5.7% {
        opacity: 1
    }
    100%,
    25.7% {
        opacity: 0
    }
}

.gallery .control-operator:nth-of-type(1):target~.item:nth-of-type(1),
.gallery .control-operator:nth-of-type(2):target~.item:nth-of-type(2),
.gallery .control-operator:nth-of-type(3):target~.item:nth-of-type(3),
.gallery .control-operator:nth-of-type(4):target~.item:nth-of-type(4),
.gallery .control-operator:nth-of-type(5):target~.item:nth-of-type(5) {
    pointer-events: auto;
    opacity: 1
}

.items-5.autoplay .control-button {
    animation: controlAnimation-5 35s infinite
}

.items-5.autoplay .item {
    animation: galleryAnimation-5 35s infinite
}

.items-5 .control-button:nth-of-type(1),
.items-5 .item:nth-of-type(1) {
    animation-delay: -2s
}

.items-5 .control-button:nth-of-type(2),
.items-5 .item:nth-of-type(2) {
    animation-delay: 5s
}

.items-5 .control-button:nth-of-type(3),
.items-5 .item:nth-of-type(3) {
    animation-delay: 12s
}

.items-5 .control-button:nth-of-type(4),
.items-5 .item:nth-of-type(4) {
    animation-delay: 19s
}

.items-5 .control-button:nth-of-type(5),
.items-5 .item:nth-of-type(5) {
    animation-delay: 26s
}

.gallery .control-button {
    color: #ccc
}

.gallery .control-button:hover {
    color: #fff;
    color: rgba(255, 255, 255, .8)
}

figure.item {
    display: block;
    margin: 0 auto
}

.item img {
    max-width: 100%;
    display: block;
    float: left;
    width: 15%;
    padding-right: 10px
}

.item .testimonial-quote {
    font-size: 16px;
    width: 35%;
    margin: 0;
    float: left;
    line-height: 16px;
    font-style: italic;
    padding-right: 5em;
    text-align: left
}

.item cite {
    color: #5a9f7b;
    text-transform: uppercase;
    line-height: 30px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: .3px
}

.gallery {
    position: relative;
    max-width: 1200px;
    margin: 0 auto
}

.gallery .item {
    height: 400px;
    overflow: hidden;
    text-align: center
}

.gallery .controls {
    position: absolute;
    bottom: -50px;
    width: 100%;
    text-align: center
}

.gallery .control-button {
    display: inline-block;
    margin: 0 .02em;
    font-size: 3em;
    text-align: center;
    transition: color .1s
}

.csslider {
    -moz-perspective: 1300px;
    -ms-perspective: 1300px;
    -webkit-perspective: 1300px;
    perspective: 1300px;
    display: inline-block;
    text-align: left;
    position: relative;
    margin-bottom: 22px
}

.csslider>input {
    display: none
}

.csslider>input:nth-of-type(10):checked~ul li:first-of-type {
    margin-left: -900%
}

.csslider>input:nth-of-type(9):checked~ul li:first-of-type {
    margin-left: -800%
}

.csslider>input:nth-of-type(8):checked~ul li:first-of-type {
    margin-left: -700%
}

.csslider>input:nth-of-type(7):checked~ul li:first-of-type {
    margin-left: -600%
}

.csslider>input:nth-of-type(6):checked~ul li:first-of-type {
    margin-left: -500%
}

.csslider>input:nth-of-type(5):checked~ul li:first-of-type {
    margin-left: -400%
}

.csslider>input:nth-of-type(4):checked~ul li:first-of-type {
    margin-left: -300%
}

.csslider>input:nth-of-type(3):checked~ul li:first-of-type {
    margin-left: -200%
}

.csslider>input:nth-of-type(2):checked~ul li:first-of-type {
    margin-left: -100%
}

.csslider>input:nth-of-type(1):checked~ul li:first-of-type {
    margin-left: 0
}

.csslider>ul {
    position: relative;
    width: 90%;
    height: auto;
    z-index: 1;
    font-size: 0;
    line-height: 0;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    max-width: 320px
}

.csslider>ul>li {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 15px;
    font-size: initial;
    line-height: normal;
    -moz-transition: all .5s cubic-bezier(.4, 1.3, .65, 1);
    -o-transition: all .5s ease-out;
    -webkit-transition: all .5s cubic-bezier(.4, 1.3, .65, 1);
    transition: all .5s cubic-bezier(.4, 1.3, .65, 1);
    vertical-align: top;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: normal
}

.csslider>ul>li.scrollable {
    overflow-y: scroll
}

.csslider>.navigation {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 10;
    margin-bottom: -10px;
    font-size: 0;
    line-height: 0;
    text-align: center;
    user-select: none
}

.csslider>.navigation>div {
    margin-left: -100%
}

.csslider>.navigation label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 4px;
    padding: 4px;
    background: #3a3a3a
}

.csslider>.navigation label:hover:after {
    opacity: 1
}

.csslider>.navigation label:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -6px;
    margin-top: -6px;
    background: #5a9f7b;
    border-radius: 50%;
    padding: 6px;
    opacity: 0
}

.csslider.inside .navigation {
    bottom: 10px;
    margin-bottom: 10px
}

.csslider.inside .navigation label {
    border: 1px solid #7e7e7e
}

.csslider>input:nth-of-type(1):checked~.navigation label:nth-of-type(1):after,
.csslider>input:nth-of-type(10):checked~.navigation label:nth-of-type(10):after,
.csslider>input:nth-of-type(11):checked~.navigation label:nth-of-type(11):after,
.csslider>input:nth-of-type(2):checked~.navigation label:nth-of-type(2):after,
.csslider>input:nth-of-type(3):checked~.navigation label:nth-of-type(3):after,
.csslider>input:nth-of-type(4):checked~.navigation label:nth-of-type(4):after,
.csslider>input:nth-of-type(5):checked~.navigation label:nth-of-type(5):after,
.csslider>input:nth-of-type(6):checked~.navigation label:nth-of-type(6):after,
.csslider>input:nth-of-type(7):checked~.navigation label:nth-of-type(7):after,
.csslider>input:nth-of-type(8):checked~.navigation label:nth-of-type(8):after,
.csslider>input:nth-of-type(9):checked~.navigation label:nth-of-type(9):after {
    opacity: 1
}

.csslider>.arrows {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    left: 30px;
    width: 80%;
    height: 50px;
    z-index: 0;
    position: absolute;
    margin: -10px auto
}

.csslider>.arrows label {
    display: none;
    position: absolute;
    top: -50%;
    padding: 13px;
    box-shadow: inset 2px -2px 0 1px #3a3a3a;
    cursor: pointer;
    -moz-transition: box-shadow .15s, margin .15s;
    -o-transition: box-shadow .15s, margin .15s;
    -webkit-transition: box-shadow .15s, margin .15s;
    transition: box-shadow .15s, margin .15s
}

.csslider>.arrows label:hover {
    box-shadow: inset 3px -3px 0 2px #71ad37;
    margin: 0
}

.csslider>.arrows label:before {
    content: '';
    position: absolute;
    top: -100%;
    left: -100%;
    height: 300%;
    width: 300%
}

.csslider.infinity>input:first-of-type:checked~.arrows label.goto-last,
.csslider>input:nth-of-type(1):checked~.arrows>label:nth-of-type(0),
.csslider>input:nth-of-type(10):checked~.arrows>label:nth-of-type(9),
.csslider>input:nth-of-type(11):checked~.arrows>label:nth-of-type(10),
.csslider>input:nth-of-type(2):checked~.arrows>label:nth-of-type(1),
.csslider>input:nth-of-type(3):checked~.arrows>label:nth-of-type(2),
.csslider>input:nth-of-type(4):checked~.arrows>label:nth-of-type(3),
.csslider>input:nth-of-type(5):checked~.arrows>label:nth-of-type(4),
.csslider>input:nth-of-type(6):checked~.arrows>label:nth-of-type(5),
.csslider>input:nth-of-type(7):checked~.arrows>label:nth-of-type(6),
.csslider>input:nth-of-type(8):checked~.arrows>label:nth-of-type(7),
.csslider>input:nth-of-type(9):checked~.arrows>label:nth-of-type(8) {
    display: block;
    left: 0;
    right: auto;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 13px;
    z-index: 99
}

.csslider.infinity>input:last-of-type:checked~.arrows label.goto-first,
.csslider>input:nth-of-type(1):checked~.arrows>label:nth-of-type(2),
.csslider>input:nth-of-type(10):checked~.arrows>label:nth-of-type(11),
.csslider>input:nth-of-type(11):checked~.arrows>label:nth-of-type(12),
.csslider>input:nth-of-type(2):checked~.arrows>label:nth-of-type(3),
.csslider>input:nth-of-type(3):checked~.arrows>label:nth-of-type(4),
.csslider>input:nth-of-type(4):checked~.arrows>label:nth-of-type(5),
.csslider>input:nth-of-type(5):checked~.arrows>label:nth-of-type(6),
.csslider>input:nth-of-type(6):checked~.arrows>label:nth-of-type(7),
.csslider>input:nth-of-type(7):checked~.arrows>label:nth-of-type(8),
.csslider>input:nth-of-type(8):checked~.arrows>label:nth-of-type(9),
.csslider>input:nth-of-type(9):checked~.arrows>label:nth-of-type(10) {
    display: block;
    right: 0;
    left: auto;
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    top: 13px;
    z-index: 99
}

ol,
ul {
    padding-left: 40px
}

#slider1 {
    width: 100%;
    max-width: 95%;
    display: block;
    margin: 0 auto;
    padding-bottom: 1em
}

#slider1>input:nth-of-type(3):checked~ul #bg {
    width: 80%;
    padding: 22px;
    -moz-transition: .5s .5s;
    -o-transition: .5s .5s;
    -webkit-transition: .5s .5s;
    transition: .5s .5s
}

#bg:after,
#bg:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%
}

#slider1>input:nth-of-type(3):checked~ul #bg div {
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    -webkit-transform: translate(0);
    transform: translate(0);
    -moz-transition: .5s .9s;
    -o-transition: .5s .9s;
    -webkit-transition: .5s .9s;
    transition: .5s .9s
}

#slider1>input:nth-of-type(6):checked~ul #dex-sign {
    -moz-animation: sign-anim 3.5s .5s steps(85) forwards;
    -o-animation: sign-anim 3.5s .5s steps(85) forwards;
    -webkit-animation: sign-anim 3.5s .5s steps(85) forwards;
    animation: sign-anim 3.5s .5s steps(85) forwards
}

#bg {
    color: #000;
    padding: 22px 0;
    position: absolute;
    left: 0;
    top: 16%;
    height: 20%;
    width: 0;
    z-index: 10;
    overflow: hidden
}

#bg:before {
    left: -1px;
    top: 1px;
    z-index: -1;
    background: url(https://raw.github.com/drygiel/csslider/master/examples/themes/fruit.jpg) 1px 23%;
    -webkit-filter: blur(7px)
}

#bg:after {
    left: 0;
    top: 0;
    z-index: 20;
    background: rgba(0, 0, 0, .35);
    pointer-events: none
}

#bg div {
    -moz-transform: translate(120%);
    -ms-transform: translate(120%);
    -o-transform: translate(120%);
    -webkit-transform: translate(120%);
    transform: translate(120%)
}

.scrollable p {
    padding: 30px;
    text-align: justify;
    line-height: 140%;
    font-size: 120%
}

#center {
    text-align: center;
    margin-top: 25%
}

#center a {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-variant: small-caps
}

a.nice-link {
    position: relative;
    color: #71ad37
}

h1 a.nice-link:after {
    border-bottom: 1px solid #a5ff0e
}

a.nice-link:after {
    text-align: justify;
    display: inline-block;
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #a5ff0e;
    min-height: 100%;
    width: 0;
    max-width: 100%;
    background: #3a3a3a;
    -moz-transition: .3s;
    -o-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s
}

a.nice-link:hover {
    color: #71ad37
}

a.nice-link:hover:after {
    width: 100%
}

#dex-sign {
    width: 255px;
    height: 84px;
    position: absolute;
    left: 33%;
    top: 45%;
    opacity: .7;
    background: url(http://www.drygiel.com/projects/sign/frames-255-white.png) no-repeat
}

#dex-sign:hover {
    opacity: 1;
    -webkit-filter: invert(30%) brightness(80%) sepia(100%) contrast(110%) saturate(953%) hue-rotate(45deg)
}

@-webkit-keyframes sign-anim {
    to {
        background-position: 0 -7140px
    }
}

@-moz-keyframes sign-anim {
    to {
        background-position: 0 -7140px
    }
}

@keyframes sign-anim {
    to {
        background-position: 0 -7140px
    }
}

.testimonials {
    margin: 0 auto;
    max-width: 100%;
    padding-bottom: 2em
}

.slide img {
    display: block;
    float: left;
    width: 40%;
    padding-right: 10px
}

/* LIVE CHAT AND EMAIL BUTTONS IN FLOATING BAR */
#mobile-nav .lhn_btn_chat, #mobile-nav .lhn_btn_email {
    color: #c2ec7c !important;
    font-size: 25px;
    display: inline-block;
    font-family: "Source Sans Pro", Montserrat, sans-serif;
    font-weight: bold;
}
@media only screen and (max-width: 767px) {
	#mobile-nav .lhn_btn_chat, #mobile-nav .lhn_btn_email {
	    overflow: hidden;
	    height: 26px;
	    width: 26px;
	}
}
.fa-envelope:before, .fa-comments-o:before {
    color: white;
    font-family: fontawesome;
}